.start-slider {
  height: 61vh;
  margin-top: 2rem;
}

.carousel-inner {
  height: 100%;
}

.carousel-caption {
  right: 11% !important;
  bottom: -5.75rem !important;
  left: 11% !important;
}

@media screen and (max-width: 320px) {
  .carousel-caption {
    bottom: -7.75rem !important;
  }
}

.carousel-indicators {
  margin-bottom: 0rem !important;
}

.carousel-indicators [data-bs-target] {
  width: 18px !important;
  height: 18px !important;
  border-radius: 50% !important;
  background-color: #212529 !important;
}

.carousel-inner > .carousel-item > img {
  width: 195px;
  margin: 0 auto;
  margin-bottom: 2rem;
}
