.start-slider {
  padding-top: 20px;
}

.carousel-inner {
  height: 100%;
}

.carousel-caption {
  position: unset !important;
  padding: 0 2rem !important;
}

.carousel-indicators {
  margin-bottom: 0rem !important;
  bottom: -30px !important;
}

.carousel-indicators [data-bs-target] {
  width: 18px !important;
  height: 18px !important;
  border-radius: 50% !important;
  background-color: #212529 !important;
}

.carousel-inner > .carousel-item > img {
  width: 195px;
  margin: 0 auto;
  margin-bottom: 2rem;
}
